<ion-header>
  <ion-navbar>
    <ion-title>
      Todo List
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="ToggleReorder()" *ngIf="!reorderIsEnabled">
        Edit
      </button>
      <button ion-button (click)="ToggleReorder()" *ngIf="reorderIsEnabled">
        Done
      </button>
      <button ion-button (click)='newTodo()'>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)='itemReorder($event)'>
    <ion-item-sliding *ngFor="let item of todos;let todoindex = index">
      <ion-item>{{item}}</ion-item>
      <ion-item-options side='left'>
        <button ion-button color='danger' (click)="remove(todoindex)"><ion-icon name='trash'></ion-icon></button>
      </ion-item-options>
      <ion-item-options side='right'>
        <button ion-button color='primary' (click)="edit(todoindex)"><ion-icon name='eye'></ion-icon></button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab [navPush]="ArchivedTodosPage">
      <ion-icon name="archive"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
